/* src/App.css */

.SearchPage {
  text-align: center;
  margin-top: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field,
.input-file {
  margin: 10px;
  padding: 10px;
  width: 80%;
  max-width: 400px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.search-button,
.clear-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.search-button {
  background-color: #007bff;
  color: white;
}

.search-button:hover {
  background-color: #0056b3;
}

.clear-button {
  background-color: #f44336;
  color: white;
}

.clear-button:hover {
  background-color: #d32f2f;
}

.Answer {
  margin-top: 20px;
}

.sign-out-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 0.8rem;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sign-out-button:hover {
  background-color: #d32f2f;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}